#message-pane {
    background: url(https://cdn-images-1.medium.com/max/1600/1*BnwJZLpYfwYAf8QijMqDRA.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.message-time {
    color: #45426D;
    font-size: 12px;
    margin-top: 4px;
}

.message-card {
    border-radius: 10px;
    box-shadow: 0 6px 11px;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    font-weight: bold;
    max-width: 65%;
    padding: 10px;
    text-transform: capitalize;
}

#form-card {
    margin: 0;
}

.fa {
    font-size: 25px;
    color: #2abfea;
    margin-top: 11px;
}