#message-pane {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWc1q_EuSA8Ex429zAe7e49UNg8XzFUnEOkq7K032mt-c-ehwJ0Q);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.message-time {
    color: rgb(128, 128, 128);
    font-size: 12px;
    margin-top: 4px;
}

.message-card {
    border-radius: 10px;
    font-size: 18px;
    max-width: 75%;
    padding: 10px;
}